<h1>Edit Strain Page</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>




<form action="/strains/<%= @strain.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <p>Name: <input type="text" name="name" id="name" value="<%= @strain.name %>"/> </p>
  
  <p>Date: 
  <input type="date" name="date" id="date" min="2021-01-01" max="2029-12-31" value="<%= @strain.date %>"/></p>

  <p>Form:  
  <input type="text" name="form" id="form" value="<%= @strain.form %>"/></p>

  <p>THC: 
  <input type="number" name="thc" id="thc" min="0.01" step="0.01" max="9999.99" value="<%= @strain.thc %>"/></p>

  <p>CBD: 
  <input type="number" name="cbd" id="cbd" min="0.01" step="0.01" max="9999.99" value="<%= @strain.cbd %>"/></p

  <p for="review">Review: 
  <input type="text" name="review" id="review" value="<%= @strain.review %>"/></p>

  <input type="submit" value="Edit Strain">
</form>