<p>Welcome <b><%= @current_user.username%></b>!</p>

<% if @errors %>
  <p style="color: red;"><%= @errors %></p>
<% end %>

<h1>My Strains</h1>
<br>
<ul>
  <% if @strains.size > 0 %>
    <% @strains.each do |strain| %>
      <% if strain.user_id == @current_user.id %>
        <li><a href="/strains/<%= strain.id %>"><b><%= strain.name %></b></a> from <%= strain.date %></li>
        <br></br>
      <% end %>
    <% end %>
    <a href="/strains/new">Create new strain</a>
  <% else %>
    <p>You don't have any logged strains! <a href="/strains/new">Create a new one here</a>.</p>
  <% end %>
</ul>